a,a:hover,a:checked{
  color: black;
}

@media only screen and (max-width: 768px) {
  html {
    box-sizing: border-box;
  }
  .footer{
    font-family: 'IBM Plex Mono', monospace;
    letter-spacing: .5px;
    display: flex;
    flex-direction: column;
    /* padding-top: 10px; */
    padding-left: 10px;
    font-size: 7px;
    text-transform: uppercase;
    color: grey;
  }
  .footer-item{
    padding-top: 10px;
    padding-right: 0px;
  }
  .svglogo{
    max-height: 50px;
    max-width: 95px;
    flex-grow: 0.8;
    flex-basis: 0;
  }
  .hamburger_icon{
    width: 20px;
    flex-grow: 0.1;
  }
  .hamburger{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #DFEFEB;
  }
  .hamburger_list{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
    list-style-type: none;
    text-indent: 0;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
  }
  .hamburger_item{
    display: flex;
  }
  .close_hamburger{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-size: 20px;
    position: fixed;
    right: 1%;
    top: 10px;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 11px;
    line-height: 11px;
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
  a.operadora{
    color: black;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    font-weight: 200;
    display: inline-block;
  }
  a.operadora:hover,a.operadora:active{
    box-sizing: content-box;
    color: black;
    font-weight: 400;
    /* transition: 100ms;
    border-bottom: 1px solid black; */
  }
  .artigo{
    padding: 10px;
    background-color: #EDEDED;
  }
  .head_geral{
    column-count: 1;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    padding-top: 0px;
  }
  .container_2col{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 24px;
    font-weight: 200;
  }
  .first_col,.second_col{
    display: flex;
    flex-grow: 0.5;
    flex-basis: 0;
    flex-direction: column;
  }
  .trescol{
    list-style-type: none;
    font-size: 14px;
    line-height: 24px;
    padding: 10px;
    /* overflow-y: scroll; */
  }
  .trescol {
    -webkit-column-count: 1; /* Old Chrome, Safari and Opera */
    -moz-column-count: 1; /* Old Firefox */
    column-count: 1;
  }
  p {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
  p.base_texto_longo{
    font-size: 14px;
    line-height: 24px;
    font-weight: 200;
    margin-bottom: 5px;
    max-width: 650px;
  }
  p.bloco_download{
    font-size: 22px;
    line-height: 26px;
    font-weight: 200;
    margin-bottom: 5px;
    max-width: 500px;
  }
  div.download_detail{
    font-size: 10px;
    font-weight: 400;
    color: #797E8D;
  }
  div.menu{
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
  }
  ul.menu{
    list-style-type: none;
    padding: 0;
    display: none;
  }
  ul.list_sistema{
    list-style-type: none;
    padding: 0;
  }
  li.menuitem{
    float: left;
    padding: 30px;
    margin-bottom: 5px;
    display: none
  }
  .bi,.pa,.bc{
    font-size: 10px;
    font-weight: 400;
  }
  div.menu a{
    color: black;
    font-family: 'IBM Plex Mono';
    font-size: 11px;
    text-decoration: none;
    font-weight: 300;
  }
  div.menu a:hover,a:active{
    box-sizing: border-box;
    color: black;
    font-family: 'IBM Plex Mono';
    font-weight: 600;
    transition: 100ms;
    border-bottom: 5px solid #3043AD;
  }
  .bigcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sides{
    display: none;
  }
  .total{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
  }
  #main{
    display: block;
    flex-grow: 0.9;
    flex-basis: auto;
    flex-direction: column;
    /* height: 95vh; */
  }
  #map{
    /* display: flex; */
    background-color: #EDEDED;
    /* flex-grow: 0.6; */
    height: 400px;
    flex-basis: 0;
    z-index: 4;
  }
  .side,.side_operadora{
    background-color: #DFEFEB;
    display: flex;
    flex-grow: 0.4;
    padding: 10px;
    flex-direction: column;
    flex-basis: 0;
    justify-content: flex-start;
    overflow-y: scroll;
    border-top: 1px solid black;
  }
  .side{
    font-family: 'IBM Plex Mono', monospace;
  }
  .side_operadora{
    font-family: 'IBM Plex Sans', sans-serif;
  }

  /* ------- - - -- ----- --- - - -- - */
  /* estilo das divs do lado dos dados*/
  /* ------- - - -- ----- --- - - -- - */

  .s02,.s03,.s04,.s04_00,.s05,.s06,.s07{
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .s01{
    padding-bottom: 5px;
  }
  .s08{
    padding-top: 5px;
  }
  .s07_01,.s07_02,.s07_03{
    flex-basis: 0;
    flex-grow: 0.333;
  }
  .s07_02{
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  .s07_01,.s07_02,.s07_03{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .s05_02,.s05_03,.s07_02,.s07_03{
    padding-left: 10px
  }
  .s04,.s04_00,.s05_01,.s05_03,.s08_01,.s08_02{
    flex-basis: 0;
    flex-grow: 0.5;
  }
  .s02,.s04holder,.s05,.s06,.s07{
    border-bottom: 1px solid black;
  }
  .s06{
    align-items: center;
  }
  h1{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 5px;
    line-height: 26px;
    display: inline-block;
  }
  h3{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 14px;
    display: inline-block;
    background-color: black;
    font-weight: 600;
    color: white;
    font-size: 14px;
    padding: 5px;
  }
  .s04holder,.s05,.s06,.s07,.s08{
    display: flex;
    flex-direction: row;
  }
  /* estilo de detalhes */
  .divheader{
    display: block;
    line-height: 12px;
    padding-bottom: 5px;
  }
  .button {
    display: inline-flex;
    border-radius: 10px;
    font-size: 10px;
    font-family: 'IBM Plex Mono', monospace;
    padding: 5px;
    height: 20px;
    margin-right: 4px;
    margin-bottom: 4px;
    background-color: none;
    border: 1px solid black;
  }
  .button.active {
    background-color: white;
    border: 1px solid white;
  }
  .bignumber{
    display: block;
    font-size: 28px;
    line-height: 28px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 200;
  }
  .smallnumber{
    display: block;
    font-size: 20px;
    line-height: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 200;
  }
  div.tooltip {
      position: absolute;
      text-align: center;
      background-color: white;
      box-shadow: 0px 2px 9px 1px rgba(0, 0, 0, 0.2);
      width: auto;
      height: auto;
      padding: 2px;
      font-size: 9px;
      text-transform: uppercase;
      border: 0px;
      pointer-events: none;
      color: black;
  }
  circle.marker{
    box-shadow: 0px 2px 9px 1px rgba(0, 0, 0, 0.2);
    fill: purple;
    opacity: 0.5;
    r: 5px;
  }
  div.slide{
    display: inline-flex;
    border-radius: 10px;
    font-size: 11px;
    font-family: 'IBM Plex Mono', monospace;
    padding: 5px;
    height: 20px;
    margin-right: 4px;
  }
  .no_data{
    font-family: 'IBM Plex Mono';
    font-size: 14px;
    color: #E0375E;
    font-style: italic;
  }
  .demodata,.quinze,.trinta,.sessenta,.men,.women{
    font-family: 'IBM Plex Mono';
    font-weight: 600;
  }
  .bike,.pat_el{
    font-size: 1px;
  }
  .bike{
    color:#33D1C4;
    background-color: #33D1C4
  }
  .pat_el{
    color:#279BFF;
    background-color: #279BFF
  }
  .cleartip{
    background-color: none;
    border: none;
  }
  .nametip2{
    opacity: 1;
  }
  .nametip{
    opacity: 0;
  }
  .nametip, .nametip2 {
    position: absolute;
    text-align: left;
    height: auto;
    padding: 2px;
    font-size: 10px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border: 0px;
    pointer-events: none;
    z-index: 5;
  }
  .red_dot{
    font-family: 'IBM Plex Mono';
    color: black;
    font-weight: 600;
    font-size: 12px;
  }
  .agelist{
    line-height: 16px;
  }
  .genholder{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .gender{
    display: flex;
    flex-direction: column;
    flex-grow: 0.5;
    flex-basis: 0;
    justify-content: flex-end;
  }
}


@media only screen and (min-width: 769px) {
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  .footer{
    font-family: 'IBM Plex Mono', monospace;
    letter-spacing: .5px;
    display: flex;
    flex-direction: row;
    width: 400px;
    padding-top: 35px;
    font-size: 9px;
    text-transform: uppercase;
    color: grey;

  }
  .footer-item{
    padding-right: 70px;
  }
  .hamburger{
    display: none;
  }
  .hamburger_icon{
    display: none;
  }
  body{
    margin:0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 12px;
    line-height: 12px;
  }
  a.operadora{
    color: black;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    font-weight: 200;
    display: inline-block;
  }
  a.operadora:hover,a.operadora:active{
    box-sizing: content-box;
    color: black;
    font-weight: 400;
    /* transition: 100ms;
    border-bottom: 1px solid black; */
  }
  .artigo{
    padding: 70px;
    background-color: #EDEDED;
  }
  .head_geral{
    column-count: 1;
    font-size: 38px;
    line-height: 30px;
    font-weight: 700;
    padding-top: 0px;
  }
  .container_2col{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    line-height: 30px;
    font-weight: 200;
  }
  .first_col,.second_col{
    display: flex;
    flex-grow: 0.5;
    flex-basis: 0;
    flex-direction: column;
  }
  .trescol{
    list-style-type: none;
    font-size: 18px;
    line-height: 30px;
    padding: 0;
    /* overflow-y: scroll; */
  }
  .trescol {
    -webkit-column-count: 3; /* Old Chrome, Safari and Opera */
    -moz-column-count: 3; /* Old Firefox */
    column-count: 3;
  }
  p {
    display: block;
    margin-left: 0;
    margin-right: 0;
  }
  p.base_texto_longo{
    font-size: 18px;
    line-height: 30px;
    font-weight: 200;
    margin-bottom: 5px;
    max-width: 650px;
  }
  p.bloco_download{
    font-size: 36px;
    line-height: 36px;
    font-weight: 200;
    margin-bottom: 5px;
    max-width: 500px;
  }
  div.download_detail{
    font-size: 14px;
    font-weight: 400;
    color: #797E8D;
  }
  div.menu{
    display: flex;
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  ul.menu{
    list-style-type: none;
    padding: 0;
  }
  ul.list_sistema{
    list-style-type: none;
    padding: 0;
  }
  li.menuitem{
    float: left;
    padding: 30px;
    margin-bottom: 5px;
  }
  .bi,.pa,.bc{
    font-size: 10px;
    font-weight: 400;
  }
  div.menu a{
    color: black;
    font-family: 'IBM Plex Mono';
    font-size: 15px;
    text-decoration: none;
    font-weight: 300;
  }
  div.menu a:hover,a:active{
    box-sizing: border-box;
    color: black;
    font-family: 'IBM Plex Mono';
    font-weight: 600;
    transition: 100ms;
    border-bottom: 5px solid #3043AD;
  }
  .bigcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .sides{
    max-width: 50px;
  }
  .total{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    flex-grow: 8;
  }
  #main{
    display: flex;
    flex-direction: row;
    height: 650px;
  }
  #map{
    display: flex;
    background-color: #EDEDED;
    flex-grow: 0.55;
    flex-basis: 0;
    z-index: 4;
  }
  .side{
    background-color: #DFEFEB;
    display: flex;
    flex-grow: 0.45;
    padding: 35px;
    flex-direction: column;
    flex-basis: 0;
    font-family: 'IBM Plex Mono', monospace;
    justify-content: flex-start;
    overflow-y: none;
  }
  .side_operadora{
    background-color: #DFEFEB;
    display: flex;
    flex-grow: 0.45;
    padding: 35px;
    flex-direction: column;
    flex-basis: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    justify-content: flex-start;
    /* overflow-y: none; */
  }

  /* ------- - - -- ----- --- - - -- - */
  /* estilo das divs do lado dos dados*/
  /* ------- - - -- ----- --- - - -- - */

  .s02,.s03,.s04,.s04_00,.s05,.s06,.s07{
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .s01{
    padding-bottom: 16px;
  }
  .s08{
    padding-top: 16px;
  }
  .s07_01,.s07_02,.s07_03{
    flex-basis: 0;
    flex-grow: 0.333;
  }
  .s07_02{
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  .s07_01,.s07_02,.s07_03{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .s05_02,.s05_03,.s07_02,.s07_03{
    padding-left: 10px
  }
  .s04,.s04_00,.s05_01,.s05_03,.s08_01,.s08_02{
    flex-basis: 0;
    flex-grow: 0.5;
  }
  .s02,.s04holder,.s05,.s06,.s07{
    border-bottom: 1px solid black;
  }
  .s06{
    align-items: center;
  }
  h1{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 38px;
    font-weight: 700;
    padding-bottom: 35px;
    line-height: 42px;
    display: inline-block;
  }
  h3{
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 16px;
    display: inline-block;
    background-color: black;
    font-weight: 600;
    color: white;
    font-size: 16px;
    padding: 5px;
  }
  .s04holder,.s05,.s06,.s07,.s08{
    display: flex;
    flex-direction: row;
  }

  /* estilo de detalhes */
  .divheader{
    display: block;
    line-height: 12px;
    padding-bottom: 5px;
  }
  .button {
    display: inline-flex;
    border-radius: 10px;
    font-size: 11px;
    font-family: 'IBM Plex Mono', monospace;
    padding: 5px;
    height: 20px;
    margin-right: 4px;
    margin-bottom: 4px;
    background-color: none;
    border: 1px solid black;
  }
  .button.active {
    background-color: white;
    border: 1px solid white;
  }
  .bignumber{
    display: block;
    font-size: 35px;
    line-height: 35px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 200;
  }
  .smallnumber{
    display: block;
    font-size: 26px;
    line-height: 24px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 200;
  }
  div.tooltip {
      position: absolute;
      text-align: center;
      background-color: white;
      box-shadow: 0px 2px 9px 1px rgba(0, 0, 0, 0.2);
      width: auto;
      height: auto;
      padding: 2px;
      font-size: 9px;
      text-transform: uppercase;
      border: 0px;
      pointer-events: none;
      color: black;
  }
  circle.marker{
    box-shadow: 0px 2px 9px 1px rgba(0, 0, 0, 0.2);
    fill: purple;
    opacity: 0.5;
    r: 5px;
  }
  div.slide{
    display: inline-flex;
    border-radius: 10px;
    font-size: 11px;
    font-family: 'IBM Plex Mono', monospace;
    padding: 5px;
    height: 20px;
    margin-right: 4px;
  }
  .no_data{
    font-family: 'IBM Plex Mono';
    font-size: 14px;
    color: #E0375E;
    font-style: italic;
  }
  .demodata,.quinze,.trinta,.sessenta,.men,.women{
    font-family: 'IBM Plex Mono';
    font-weight: 600;
  }
  .bike,.pat_el{
    font-size: 1px;
  }
  .bike{
    color:#33D1C4;
    background-color: #33D1C4
  }
  .pat_el{
    color:#279BFF;
    background-color: #279BFF
  }
  .cleartip{
    background-color: none;
    border: none;
  }
  .nametip2{
    opacity: 1;
  }
  .nametip{
    opacity: 0;
  }
  .nametip, .nametip2 {
    position: absolute;
    text-align: left;
    height: auto;
    padding: 2px;
    font-size: 10px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border: 0px;
    pointer-events: none;
    z-index: 5;
  }
  .red_dot{
    font-family: 'IBM Plex Mono';
    color: black;
    font-weight: 600;
    font-size: 12px;
  }
  .agelist{
    line-height: 16px;
  }
  .genholder{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  .gender{
    display: flex;
    flex-direction: column;
    flex-grow: 0.5;
    flex-basis: 0;
    justify-content: flex-end;
  }
}
